.itemStyle{
  margin: 10px;
  /* cursor: pointer;*/
}

.list{
    width: 500px;
    height: 50px;
}

.a {
  width: 400px;
  height: 30px;
}

.completed{
  /*text-decoration: line-through;*/
  background-color: gray;
  color:white;
}
.small-margin {
  margin: 0.3em;
}
.textSpan{
  margin: 2em;
}

.panel {
  width: 500px;
}
.panel-block{
  width: 500px;
}