.panel-block:hover {
  background-color: #D3D3D3;
}

.item-box{
  width: 290px;
}

.item-style{
  margin-left: 25px;
}

.panel {
  width: inherit;
}




.small-margin {
  margin: 0.3em;
}

.small-margin-right{
  margin: 0.3em;
  float: right;
  position: relative;
}

.textSpan{
  text-align: left;
  margin-left: 15px;
}