
.panel-block:hover {
  background-color: #d3d3d3;
}

.item-box {
  width: 290px;
}

.item-style {
  margin-left: 25px;
}

.panel {
  width: auto;
}

.small-margin {
  margin: 0.3em;
}

.small-margin-right {
  margin: 0.3em;
  float: right;
  position: relative;
}

.textSpan {
  text-align: left;
  margin-left: 15px;
}

.field.has-addons .control:last-child:not(:only-child) .button {
  width: 76px;
  padding-left: 5px;
  padding-right: 5px;
  background-color: #1a1919;
  color: white;
}

.field.has-addons {
  float: left;
  padding: 1em;
}

.hideSubmitButton {
  display: none;
}

.showSubmitButton {
  display: inherit;
}

.iconToggle {
  float: right;
  border: 1px solid #dbdbdb;
  margin-right: 1px;
  margin-left: 1px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
}
