.itemStyle{
  margin: 15px;
 /* cursor: pointer;*/
}

.list{
    width: 500px;
    height: 50px;
}

.a{
  width: 400px;
  height: 30px;

}
.completed{
  /*text-decoration: line-through;*/
  background-color: gray;
}